{% extends "base.html" %}

{% block content %}
<section class="content-section">
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}

    <ul class="content-list">
        {# Use paginator if it exists, else regular pages #}
        {% if paginator %}
            {% set page_list = paginator.pages %}
        {% else %}
            {% set page_list = section.pages %}
        {% endif %}
        {% for page in page_list %}
            {% include "partials/content-listing-item.html" %}
        {% endfor %}
    </ul>

    {% if paginator %}
        {% include "partials/pagination.html" %}
    {% endif %}
</section>
{% endblock %}
